<article class="pet-card">
  <div class="petName">
    <h3>Chance, 5</h3>
  </div>
  <div class="meta">
    <div>
      <p>East African Village Dog</p>
    </div>
    <div>
      <p>Chance is an East African Village Dog from Uganda! She is 5 years old and enjoys being chased, rolling in dead animals, and eating deer poop.</p>
    </div>
  </div>
</article>

{{!-- <article class="pet-card">
  <div class="petName">
    <h3>{{post.title}}</h3>
    <span>({{format_url post_url}})</span>
  </div>
  <div class="meta">
    {{vote_count}}
    {{!-- format_plural "point" replaced point(s) by --  INCLUDE THIS WHEN 'LIKE' functionality fixed --}}
    {{format_plural "point" vote_count}}
    by
    {{user.username}}
    on
    {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}</a>
  </div>
</article> --}}