{{!-- This will be the partial that will add pet profiles to the homepage when users are logged in. I added in some dummy text/content to get some of the styling done, but we will need to update these with the {{ petName content}}
--}}

{{!-- need image tage w/ url & src to be called back for it to be displayed (2nd) --}}
<div class="pet-card">
    <article>
        <div class="petName">
            <h3>{{petName}}, {{age}}</h3>
        </div>
        <div class="meta">
            <div>
            <h4>{{breed}}, {{gender}}</h4>
            </div>
            <div>
            <p>{{description}}</p>
            </div>
        </div>
    </article>
</div>
{{!-- <div class="row">
    <div class="icons">
        <div>
            <span class="fa-stack fa-2x">
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="fa-solid fa-xmark fa-stack-1x fa-2xl fa-inverse"></i>
            </span>
        </div>
        <div class="heart-icon">
            <span class="fa-stack fa-2x">
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="fa-solid fa-heart fa-stack-1x fa-xl" style="color:#D16766"></i>
            </span>
        </div>
    </div>
</div> --}}